{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 52.3731339,
    "longitude": 4.8903147,
    "elevation": 1000,
    "unit_system_v2": "metric",
    "location_name": "Testing Server",
    "time_zone": "America/Chicago",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}