name: Code Standards
on:
  push: # Comment this line to trigger action only on pull-requests (not recommended if you don't pay for GH Actions)
    paths:
      - "**.py"
  pull_request:
    branches:
      - master
      - dev
    paths:
      - "**.py"
  workflow_dispatch:
  schedule:
    - cron: 0 12 * * 6

jobs:
  code_styling:
    name: "Code Styling"
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install Dependencies
        run: |
          pip install poetry
          poetry config virtualenvs.create false
          poetry install
      - name: Run Black
        run: black homeassistant_api --check
      - name: Run iSort
        run: isort homeassistant_api --check-only
      - name: Run Flake8
        run: flake8 homeassistant_api
      - name: Run MyPy
        run: mypy homeassistant_api --show-error-codes
      - name: Run PyLint
        run: pylint homeassistant_api
  code_functionality:
    name: "Code Functionality"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install Dependencies
        run: |
          sudo apt-get -qq install -y libffi-dev \
            libssl-dev libjpeg-dev zlib1g-dev \
            autoconf build-essential libopenjp2-7 libtiff5 \
            libturbojpeg0-dev tzdata
      - name: Unpack Testing Server Config
        run: |
          unzip tests/homeassistant.zip
      - name: Initialize Testing Server and Run Suite
        run: |
          echo "::group::Install Project Dependencies"
          python3 -m pip install poetry
          python3 -m poetry install
          echo "::endgroup::"

          echo "::group::Install Home Assistant Dependencies"
          python3 -m venv .
          . bin/activate
          python3 -m pip install homeassistant
          echo "::endgroup::"
          
          echo "::group::Starting the Testing Server"
          hass -c test_server/config &
          deactivate

          # Wait at least 60 seconds for server to install packages and start.
          echo "::debug::Waiting for Server to Start"
          sleep 60
          echo "::endgroup::"

          # Run Test Suite
          echo "::group::Running Test Suite"
          TOKEN="$(cat test_server/config/token.txt)"
          export PYTHONPATH=.
          export HOMEASSISTANTAPI_URL="http://localhost:8123/api"
          export HOMEASSISTANTAPI_TOKEN="$TOKEN"
          poetry run pytest tests --disable-warnings
          echo "::endgroup::"
        env:
          HOMEASSISTANTAPI_URL: ${{ env.HOMEASSISTANTAPI_URL }}
          HOMEASSISTANTAPI_TOKEN: ${{ env.HOMEASSISTANTAPI_TOKEN }}
